<div class="__table">
    <div class="__row __head">
        <span>mon</span>
        <span>tue</span>
        <span>web</span>
        <span>thu</span>
        <span>fri</span>
        <span>sat</span>
        <span>sun</span>
    </div>
    {{#dates}}
    <div class="__row">
        {{#.}}
        <span data-day="{{day}}" data-date="{{date}}">{{date}}</span>
        {{/.}}
    </div>
    {{/dates}}
</div>